<p id="notice"><%= notice %></p>

<h2>FIND A NEW JOB</h2>

<table>
  <thead>
    <tr>
      <th>Company</th>
<!--     <th>Companylogo</th> -->
      <th>Job Title</th>
<!--      <th>Description</th> -->
      <th>Location</th>
<!--      <th>RH E-mail</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.company %></td>
<!--        <td><%= job.companylogo %></td> -->
        <td><%= job.title %></td>
<!--        <td><%= job.description %></td> -->
        <td><%= job.location %></td>
<!--        <td><%= job.rhemail %></td> -->
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a New Job', new_job_path %>
